[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
airbrake = "==2.1.0"
asyncpg = "==0.18.1"
pbwrap = "==1.1.0"
"discord.py" = {ref = "rewrite", git = "https://github.com/Rapptz/discord.py"}

[dev-packages]

[requires]
python_version = "3.6"
